<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.free.badmood.blackhole.web.mapper.ArticleMapper">

    <resultMap id="User" type="com.free.badmood.blackhole.web.entity.User">
        <id property="id" column="id" javaType="long"/>
        <result property="nickName" column="nick_name"/>
        <result property="avatarUrl" column="avatar_url"/>
    </resultMap>

    <resultMap id="articlRes" type="com.free.badmood.blackhole.web.entity.ArticleRes">
<!--        <id property="id" column="id" javaType="long"/>-->
        <result property="articleId" column="article_id" javaType="long"/>
        <result property="url" column="url"/>

    </resultMap>

    <resultMap id="aritcleVo" type="com.free.badmood.blackhole.web.entity.ArticleVo">
        <id property="id" column="id" javaType="long"/>
        <result property="userId" column="user_id" javaType="long"/>
        <result property="readCount" column="read_count" javaType="int"/>
        <result property="content" column="content" javaType="string"/>
        <result property="addressName" column="address_name" javaType="string"/>
        <result property="addressDetail" column="address_detail" javaType="string"/>
        <result property="latitude" column="latitude" javaType="string"/>
        <result property="longitude" column="longitude" javaType="string"/>
        <result property="scope" column="scope" javaType="java.lang.Integer"/>
        <result property="type" column="type" javaType="java.lang.Integer"/>
        <result property="tag" column="tag" javaType="java.lang.Integer"/>
        <result property="topic" column="topic" javaType="java.lang.String"/>
        <result property="supportCount" column="support_count"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="del" column="del"/>
        <association property="user" resultMap="User"/>

<!--        有select column 添加resultMap="articlRes" 报错，不让在嵌套了-->
        <collection property="resList" column="id" select="getResUrls"   ofType="com.free.badmood.blackhole.web.entity.ArticleRes" >
            <result property="articleId" column="article_id" javaType="long"/>
            <result property="url" column="url"/>
        </collection>
    </resultMap>

    <select id="getResUrls" parameterType="string" resultType="com.free.badmood.blackhole.web.entity.ArticleRes">


        select r.id,r.url
            from
                t_f_article_res r
            where
                r.article_id = #{articleId}
    </select>

    <!--type: 2-查询所有（文黯，视频）1-代表视频 0-代表普通文黯-->
    <!--scope: 2-查询所有（文黯，视频）1-公开 0-仅自己可见 ；不会出现只查询仅自己可见的-->
    <select id="queryIndexArticle" resultMap="aritcleVo">

        select a.*,u.nick_name,u.avatar_url
			from
			    t_f_article a
            left join
                t_f_user u
            on
                u.id = a.user_id
            where
                1=1
                <if test="type != 2">
                    and type  = #{type}
                </if>

                <if test="scope == 2">
                    and a.user_id = #{userId}
                </if>

                <if test="scope != 2">
                    and scope = 1
                </if>
                <if test="tag >= 0">
                    and tag = #{tag}
                </if>
            order by update_time desc

    </select>

    <select id="querySupportAndCollectArticles" resultMap="aritcleVo">
        select a.*,u.nick_name,u.avatar_url
        from
        t_f_article a
        left join
        t_f_user u
        on
        u.id = a.user_id
        where
            1=1
            <if test="articleIds != null and articleIds.size() > 0">
                and
                    a.id in
                        <foreach collection="articleIds" index="index" item="item" separator="," open="(" close=")">
                            #{item}
                        </foreach>
            </if>

        order by update_time desc

    </select>  <!--and-->
<!--    a.user_id = #{userId}-->

    <select id="queryCommentArticles" resultMap="aritcleVo">
        select a.*,u.nick_name,u.avatar_url
        from
        t_f_article a
        left join
        t_f_user u
        on
        u.id = a.user_id
        where
        1=1
        <if test="articleIds != null and articleIds.size() > 0">
            and
            a.id in
            <foreach collection="articleIds" index="index" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        order by update_time desc

    </select>
    <select id="queryArticleDetailById" resultMap="aritcleVo">


        select a.*,u.nick_name,u.avatar_url
			from
			    t_f_article a
            left join
                t_f_user u
            on
                u.id = a.user_id
            where
                1=1
                and
                    a.id = #{articleId}
    </select>


</mapper>
