<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.free.badmood.blackhole.web.mapper.ReplyMapper">

    <select id="queryReplyInfo" resultType="com.free.badmood.blackhole.web.entity.ReplyVo">
        select
        r.id,
        r.reply_id,
        r.reply_type,
        r.content,
        r.update_time,
        u.nick_name as userNickName,
        u.avatar_url as userAvatarUrl
        from t_f_user u
            left join t_f_reply r
            on r.from_user_id = u.id
            where r.comment_id = #{commentId}


    </select>
</mapper>
